body{
    background-color: aliceblue;
}
h1{
    background-color: blue;
    color: purple;
}
.pra{
    color: purple;
}
.pra1{
    background-color: yellow;
    color: red;
}
.pra2{
    background-color: greenyellow;
}